<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yazan.led">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".DeviceList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ledControl"
            android:label="LED Control" >
        </activity>
        <activity android:name=".Colors" />


        <receiver android:name="IncomingCallInterceptor">                     <!-- 6 -->
            <intent-filter>                                                   <!-- 7 -->
                <action android:name="android.intent.action.PHONE_STATE"/>   <!-- 8 -->
            </intent-filter>
        </receiver>
        <receiver android:name=".IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
